<div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">My Recipes</h3>
        </div>

        <div class="panel-body">
            <span ng-repeat="recipe in recipes">
                <a href="#" class="list-group-item" id="recipeListItem" ng-click="recipeSelected(recipe)">{{recipe.name}}</a>
                <!--<a href="/recipeView" class="list-group-item" id="recipeListItem">{{recipe.name}}</a>-->
            </span>
        </div>
    </div>
</div>